[submodule "cmake/sdl2"]
	path = cmake/sdl2
	url = https://gitlab.com/aminosbh/sdl2-cmake-modules.git
[submodule "extern/easyloggingpp"]
	path = extern/easyloggingpp
	url = https://github.com/maxnoka/easyloggingpp.git
[submodule "extern/scope-guard"]
	path = extern/scope-guard
	url = https://github.com/ricab/scope_guard.git
